div.container   {
    display: grid;
    height: 960px;
    width: 960px;
    border-style: solid;
}

.square {
    box-sizing: border-box;
    border-style: dotted;
    border-width: 1px;
}

.coloured {
    background-color: blue;
}